/* Estilo General */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    width: 350px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
  }
  
  /* Ventana redonda */
  .robot-window {
    width: 300px;
    height: 300px;
    background: #e0e0e0;
    border-radius: 190%;
    margin: 0 auto 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  /* Robot */
  .robot {
    position: relative;
    width: 140px;
    height: 180px;
  }
  
  /* Cabeza */
  .robot .head {
    width: 80px;
    height: 80px;
    background: #f0f0f0;
    border: 5px solid #333;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  /* Ojos */
  .robot .eye {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 3px solid #333;
    border-radius: 50%;
    position: relative;
  }
  
  .robot .eye .pupil {
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  /* Antena */
  .robot .antenna {
    width: 10px;
    height: 40px;
    background: #333;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
  }
  
  /* Cuello */
  .robot .neck {
    width: 20px;
    height: 20px;
    background: #ccc;
    margin: 0 auto;
    border: 3px solid #333;
    border-radius: 5px;
  }
  
  /* Torso */
  .robot .torso {
    width: 100px;
    height: 60px;
    background: #f0f0f0;
    margin: 0 auto;
    border: 5px solid #333;
    border-radius: 5px;
    position: relative;
  }
  
  .robot .torso .panel {
    width: 60px;
    height: 30px;
    background: #333;
    margin: 0 auto;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Brazos */
  .robot .arms {
    position: absolute;
    top: 115px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .robot .arm {
    position: relative;
    width: 60px;
    height: 10px;
  }
  
  .robot .arm .cable {
    width: 60px;
    height: 10px;
    background: #bbb;
    border: 3px solid #333;
    border-radius: 30px;
    position: relative;
  }
  
  .robot .arm .pincher {
    width: 20px;
    height: 10px;
    background: #ccc;
    border: 3px solid #333;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: -25px;
  }
  